#web_bg {
  /* webkit内核 5.1 - 6.0 */
  background: linear-gradient(45deg, #7A88FF, #7AFFAF);
  /* Opera 11.1 - 12.0 */
  background: linear-gradient(45deg, #7A88FF, #7AFFAF);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(45deg, #7A88FF, #7AFFAF);
  /* 标准的语法 */
  background: linear-gradient(45deg, #7A88FF, #7AFFAF);
}
